*{
    margin: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background{
      position: fixed;
      width: 600px;
          height: 400px;
    }

.container{
    width: 80%; 
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.words{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hino{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    font-family: "Asimovian", sans-serif;
    line-height: 1.6;
}
.hino>h1{
    line-height: 1;
}
.hino>p{
    margin-top: 20px;
    line-height: 1.5;
}
.hirya{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
}
.rimwe{
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 248, 253);
    border-radius: 10px;
    padding: 20px;
    width: 350px;  
}
.kabiri{
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 248, 253);
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px;
    width: 350px;
}
.gatatu{
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 248, 253);
    border-radius: 10px;
    padding: 20px;
    margin-left: 100px;
    width: 350px;
}
.rimwe>img{
    margin-left: 10px;
}
.rimwe>p{
    margin-left: 20px;
}
.kabiri>img{
    margin-left: 10px;
}
.kabiri>p{
    margin-left: 20px;
}
.gatatu>img{
    margin-left: 10px;
}
.gatatu>p{
    margin-left: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    color: whitesmoke;
    font-size: small;
}

.card1{
    background-color: rgb(72, 1, 72);
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.a{
display: flex;
flex-direction: row;
}
.a>img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.a1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}
.a1>h4{
    color: rgb(203, 36, 136);
}
.b{
padding-top: 30px;
}

.card2{
    background-color: rgb(72, 1, 72);
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c{
display: flex;
flex-direction: row;
}
.c>img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.c1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}
.c1>h4{
    color: rgb(203, 36, 136);
}
.d{
    padding-top: 30px;
}

.card3{
    background-color: rgb(72, 1, 72);
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e{
display: flex;
flex-direction: row;
}
.e>img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.e1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}
.e1>h4{
    color: rgb(203, 36, 136);
}
.f{
    padding-top: 30px;
}